<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492714706923-4rq0vh3ja9rqpmht5so406of5l9pk3v1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492714706923-4rq0vh3ja9rqpmht5so406of5l9pk3v1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>492714706923-k5rdiet2lkctgm0bfl2mhro6q1q9jtks.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCNbZWXkPG0Y-k1cUbVnjfiqd7cyR1hqD0</string>
	<key>GCM_SENDER_ID</key>
	<string>492714706923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.bundleIdentifier</string>
	<key>PROJECT_ID</key>
	<string>mobile-final-project-10106</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-final-project-10106.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492714706923:ios:df042538387dc65bcdbbae</string>
</dict>
</plist>